<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron" style="color: white; background-color: #7b7e8e45;">
        <h1 class="display-4">Contact Us!</h1>
        <p class="lead">Contact details will be here soon</p>
        <hr class="my-4">
        <p>contact@denimfashion.com</p>
        
      </div>
    </div>
  </div>
</div>