<div class="row">

  <div class="col-lg-4" style="padding-top: 15px" *ngFor="let item of products">
    <div class="card text-center" style="width: 18rem; background-color:  rgba(0, 0, 0, 0.54); color: white">
      <img class="card-img-top" src="../assets/jean6.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text"> ${{ item.price }}</p>
        <a [routerLink]="['/cart', { id:item.id }]" class="btn btn-secondary" >Add to Cart</a>
      </div>
    </div>
  </div>
  
 
</div>