
<div class="container">
  <div class="row">
    <div class="col-lg-12">
                    <h3>Cart Info</h3>
              <table class="table table-dark">
                  <tr>
                    <th>Action</th>
                      <th>Id</th>
                      
                      <th>Photo</th>
                      <th>Price</th>
                      <th>Sub Total</th>
                      <th>Quantity</th>
                  </tr>
                  <!-- <tr >
                     
                      <td>1</td>
                    
                      <td>
                          <img src="../assets/jean6.jpg" width="50">
                      </td>
                      <td>10.5</td>
                      <td>1</td>
                      <td>10.5</td>
                  </tr>
                  <tr>
                      <td colspan="4" align="right">Total</td>
                      <td>10.5</td>
                  </tr> -->
                  <tr *ngFor="let item of items">
                      
                    <td align="center">
                        <a (click)="remove(item.product.id)" class="btn btn-secondary">Remove</a>
                    </td>
                    <td>{{item.product.id}}</td>
                    <td>{{item.product.name}}</td>
                    <td>
                        <img src="assets/{{item.product.photo}}" width="50">
                    </td>
                    <td>{{item.product.price}}</td>
                    <td>{{item.quantity}}</td>
                    <!-- <td>{{item.product.price * item.quantity}}</td> -->
                </tr>
                <tr>
                    <td colspan="6" align="right">Total</td>
                    <td>{{total}}</td>
                </tr>
              </table>
              <!-- <button (click)="checkout()" class="btn btn-secondary">
                  Checkout
              </button> -->
              
              <a [routerLink]="[ '/prompt',  { id:data.id } ]" (click)="gettrans()" class="btn btn-secondary" >Checkout</a>
              
  </div>
</div>