<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron" style="color: white; background-color: #7b7e8e45;">
        <h1 class="display-4">About Us!</h1>
        <p class="lead">Will be here Soon</p>
        <hr class="my-4">
        <p>A denim Fashion Company pvt. Ltd</p>
        
      </div>
    </div>
  </div>
</div>