<div class="container">
    <div class="row">
  
      <div class="col-lg-12">
        <div class="card text-center" style="width: 18rem; background-color:  rgba(0, 0, 0, 0.54); color: white">
          <img class="card-img-top" src="../assets/11.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-secondary">Add to Cart</a>
          </div>
        </div>
      </div>
  
  
    </div>