<nav class="navbar navbar-dark mt-5 fixed-bottom" style="background-color: #020202bf; color: white">
  <div class="navbar-expand m-auto navbar-text">
    Denim Fashion Copyright All Rights Reserved 2018 &copy;
  </div>
</nav>