<app-slider></app-slider>
<div class="container">
  <div class="row">

    <div class="col-lg-4">
      <div class="card text-center" style="width: 18rem; background-color:  rgba(0, 0, 0, 0.54); color: white">
        <img class="card-img-top" src="../assets/jean6.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mens Jeans</h5>
          <p class="card-text">$55.9</p>
          <a href="#" class="btn btn-secondary" [routerLink]="[ '/shop']">Shop Now</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
        <div class="card text-center" style="width: 18rem; background-color:  rgba(0, 0, 0, 0.54); color: white">
          <img class="card-img-top" src="../assets/jean6.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mens Jeans</h5>
            <p class="card-text">$77.9</p>
            <a class="btn btn-secondary" [routerLink]="[ '/shop']">Shop Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
          <div class="card text-center" style="width: 18rem; background-color:  rgba(0, 0, 0, 0.54); color: white">
            <img class="card-img-top" src="../assets/jean6.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mens Jeans</h5>
              <p class="card-text">$39.2</p>
              <a href="#" class="btn btn-secondary" [routerLink]="[ '/shop']">Shop Now</a>
            </div>
          </div>
        </div>

  </div>

  <div class="row">

      <div class="col-lg-4">
        <div class="card text-center" style="width: 18rem; background-color:  rgba(0, 0, 0, 0.54); color: white">
          <img class="card-img-top" src="../assets/jean2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Womens Jeans</h5>
            <p class="card-text">$49.9</p>
            <a href="#" class="btn btn-secondary" [routerLink]="[ '/shop']">Shop Now</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4">
          <div class="card text-center" style="width: 18rem; background-color:  rgba(0, 0, 0, 0.54); color: white">
            <img class="card-img-top" src="../assets/jean2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Womens Jeans</h5>
              <p class="card-text" [routerLink]="[ '/shop']">$25.9</p>
              <button class="btn btn-secondary justify-content-center">Shop Now</button>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4">
            <div class="card text-center" style="width: 18rem; background-color:  rgba(0, 0, 0, 0.54); color: white">
              <img class="card-img-top" src="../assets/jean2.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Womens Jeans</h5>
                <p class="card-text">$29.9</p>
                <a href="#" class="btn btn-secondary" [routerLink]="[ '/shop']">Shop Now</a>
              </div>
            </div>
          </div>
  
    </div>
</div>
