<nav class="navbar navbar-dark  fixed-top mb-5" style="background-color: #020202bf">
  <a class="navbar-brand" href="/"><img src="../../../assets/diesel-denim-logo-vector.png" alt="denim" width="130" height="40"></a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="[ '/home']">Home</a>
      <a class="nav-item nav-link" [routerLink]="[ '/shop']">Shop</a>
      <a class="nav-item nav-link" [routerLink]="[ '/about']">About</a>
      <a class="nav-item nav-link" [routerLink]="[ '/contact']">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">

        <a class="nav-item nav-link" [routerLink]="[ '/cart' ]" >
          View Cart
        </a>

      <a class="nav-item nav-link" href="https://fb.com" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
     
      <a class="nav-item nav-link" href="https://twitter.com" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</nav>