<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="jumbotron text-center" style="color: white; background-color: #7b7e8e45;">
          <h1 class="display-4">Scan QR to Pay!</h1>
       
          
          
            <img [src]="imageData">
          
        </div>
      </div>
    </div>
  </div>