<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="jumbotron text-center" style="color: white; background-color: #7b7e8e45;">
          <h1 class="display-4">Please Select Payment Options</h1>
        
          <hr class="my-4">
          <a [routerLink]="['/creditcard']" class="btn btn-secondary" >Credit Card</a>&nbsp;
          <a [routerLink]="['/qrcode',  { id:tID }]" class="btn btn-secondary" >SeQR Pay!</a>
    
          
        </div>
      </div>
    </div>
  </div>