<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron text-center" style="color: white; background-color: #7b7e8e45;">
        <h1 class="display-4">Payment Successful! <br> Thanks for choosing SeQR Pay!</h1>
      
      </div>
    </div>
  </div>
</div>